{% extends 'base.html.twig' %}

{% block title %}
	{{controller_name}}
{% endblock %}

{% block body %}


	<div class="container">
		<div class="row">
			<div class="col-12">
				<table class="table table-bordered">
					<thead>
						<tr>
                            <th scope="col">Darbuotojo Nr.</th>
							<th scope="col">Asmens kodas</th>
							<th scope="col">Vardas Pavardė</th>
							<th scope="col">Tel. Nr</th>
                            <th scope="col">Adresas</th>
                            <th scope="col">Sporto salė</th>
						</tr>
					</thead>
					<tbody>
						{% for darbuotojas in darbuotojai %}
							<tr>
								<th scope="row">{{darbuotojas.tabNr}}</th>
                                <td>{{darbuotojas.asmensKodas}}</td>
								<td>{{darbuotojas.vardas}} {{darbuotojas.pavarde}}</td>
                                <td>{{darbuotojas.telNr}}</td>
								<td>{{darbuotojas.gatve}}, {{darbuotojas.miestas}}</td>
                                <td>{{darbuotojas.fkSportoSaleidSportoSale.pavadinimas}}</td>
								<td>
									<a href="{{ path('darbuotojai_show', {'id': darbuotojas.tabNr}) }}">
										<button type="button" class="btn btn-primary">
											<i class="far fa-eye"></i>
										</button>
									</a>
									<a href="">
										<button type="button" class="btn btn-success">
											<i class="fas fa-edit"></i>
										</button>
									</a>
									<a href="">
										<button type="button" class="btn btn-danger">
											<i class="far fa-trash-alt"></i>
										</button>
									</a>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>

{% endblock %}
