{% extends 'base.html.twig' %}

{% block title %}
	{{controller_name}}
{% endblock %}

{% block body %}


	<div class="container">
		<div class="row">
			<div class="col-12">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col">Pavadinimas</th>
							<th scope="col">Gatvė Namo. Nr, Miestas</th>
							<th scope="col">Darbo laikas</th>
                            <th scope="col">Tipas</th>
						</tr>
					</thead>
					<tbody>
						{% for sale in sales %}
							<tr>
								<th scope="row">{{sale.idSportoSale}}</th>
								<td>{{sale.pavadinimas}}</td>
								<td>{{sale.gatve}}
									{{sale.namoNr}},
									{{sale.miestas}}</td>
								<td>{{sale.dirbaNuo|date("H:i")}}
									-
									{{sale.dirbaIki|date("H:i")}}</td>
                                <td>{{sale.tipas.name|capitalize}}</td>
								<td>
									<a href="{{ path('sale_show', {'id': sale.idSportoSale}) }}">
										<button type="button" class="btn btn-primary">
											<i class="far fa-eye"></i>
										</button>
									</a>
									<a href="">
										<button type="button" class="btn btn-success">
											<i class="fas fa-edit"></i>
										</button>
									</a>
									<a href="">
										<button type="button" class="btn btn-danger">
											<i class="far fa-trash-alt"></i>
										</button>
									</a>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>

{% endblock %}
