{% extends 'base.html.twig' %}

{% block title %}
	{{controller_name}}
{% endblock %}

{% block body %}


	<div class="container">
		<div class="row">
			<div class="col-12">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th scope="col">Asmens kodas</th>
							<th scope="col">Vardas Pavardė</th>
							<th scope="col">Tel. Nr</th>
							<th scope="col">El. Paštas</th>
                            <th scope="col">Adresas</th>
						</tr>
					</thead>
					<tbody>
						{% for klientas in klientai %}
							<tr>
								<th scope="row">{{klientas.asmKodas}}</th>
								<td>{{klientas.vardas}} {{klientas.pavarde}}</td>
                                <td>{{klientas.telNr}}</td>
                                <td>{{klientas.elPastas}}</td>
								<td>{{klientas.gatve}}, {{klientas.miestas}}</td>
								<td>
									<a href="{{ path('klientai_show', {'id': klientas.asmKodas}) }}">
										<button type="button" class="btn btn-primary">
											<i class="far fa-eye"></i>
										</button>
									</a>
									<a href="">
										<button type="button" class="btn btn-success">
											<i class="fas fa-edit"></i>
										</button>
									</a>
									<a href="">
										<button type="button" class="btn btn-danger">
											<i class="far fa-trash-alt"></i>
										</button>
									</a>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>

{% endblock %}
