{% extends 'base.html.twig' %}

{% block title %}Tipas{% endblock %}

{% block body %}
    <h1>Tipas</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tipa.id }}</td>
            </tr>
            <tr>
                <th>Pavadinimas</th>
                <td>{{ tipa.pavadinimas }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('tipas_index') }}">back to list</a>

    <a href="{{ path('tipas_edit', {'id': tipa.id}) }}">edit</a>

    {{ include('tipas/_delete_form.html.twig') }}
{% endblock %}
