{% extends 'base.html.twig' %}

{% block title %}Darbuotojas{% endblock %}

{% block body %}
    <h1>Darbuotojas</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ darbuotoja.id }}</td>
            </tr>
            <tr>
                <th>Vardas</th>
                <td>{{ darbuotoja.vardas }}</td>
            </tr>
            <tr>
                <th>Pavarde</th>
                <td>{{ darbuotoja.pavarde }}</td>
            </tr>
            <tr>
                <th>TelNr</th>
                <td>{{ darbuotoja.telNr }}</td>
            </tr>
            <tr>
                <th>ElPastas</th>
                <td>{{ darbuotoja.elPastas }}</td>
            </tr>
            <tr>
                <th>DirbaNuo</th>
                <td>{{ darbuotoja.dirbaNuo ? darbuotoja.dirbaNuo|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>DirbaIki</th>
                <td>{{ darbuotoja.dirbaIki ? darbuotoja.dirbaIki|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>IsidarbinimoData</th>
                <td>{{ darbuotoja.isidarbinimoData ? darbuotoja.isidarbinimoData|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>NebedirbaNuo</th>
                <td>{{ darbuotoja.nebedirbaNuo ? darbuotoja.nebedirbaNuo|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Miestas</th>
                <td>{{ darbuotoja.miestas }}</td>
            </tr>
            <tr>
                <th>Gatve</th>
                <td>{{ darbuotoja.gatve }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('darbuotojas_index') }}">back to list</a>

    <a href="{{ path('darbuotojas_edit', {'id': darbuotoja.id}) }}">edit</a>

    {{ include('darbuotojas/_delete_form.html.twig') }}
{% endblock %}
